
<?php
?>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>profile</title>
</head>
   <body  style="background-color: #8fbc8f">
   <br>
   <p><h1>Welcome back, {{ username }}! </h1>
</p>

<center>
    <table border = "0" cellpadding = "10" cellspacing = "10">
        <tr>
        <td>
            <a href = "\newcustomer">
            <button style="height:75px;width:150px; background-color: #f0ffff ; border-color: #f0ffff; color: #34495E" >
            New Costomer</button></a>
        </td>
        <td>
            <a href = "\update">
            <button style="height:75px;width:150px; background-color: #f0ffff ; border-color: #f0ffff; color: #34495E">
            Update Customer</button></a>
        </td>
        <td>
            <a href = "\remove">
            <button style="height:75px;width:150px; background-color: #f0ffff ; border-color: #f0ffff; color: #34495E" >
            Delete Customer</button></a>
        </td>
        </tr>
    </table><br><br><br>

   <br><br>
   <table border = "1" cellpadding = "4" bgcolor="#f0ffff">
        <thead>
                <th width="200"> name customer </th>
                <th width="200"> address </th>
                <th width="200"> date_work </th>
                <th width="200"> requirement </th>
        </thead>

<tbody>
     {% for rows in rows %}
        <tr>
           {% for data in rows %}
              <td>{{ data }}</td>
            {% endfor %}
        </tr>
     {% endfor %}
</tbody>
 </table></center>
         <form action = "/new/logout">
         <br><br>

         <label>Welcome to your profile</label>
         <button type="submit" style="height:35px;width:120px; background-color: #B3B6B7 ;
                        border-color: #B3B6B7; color: #34495E">LOGOUT</button>
         </form>
   </body>
</html>