<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>
   <body style="background-color: #cccc88">
   <div align="center">
   <br>

        <br><br>
        <h1>Update Customer Profile</h1>
      <form action = "{{ url_for('update') }}" method = "POST">
         <br><br><br>
          Name customer
         <input type = "text" name = "name" /><br><br>
         Address customer
         <input type = "text" name = "address" /><br><br>

         <input type = "submit" value = "update" />
      </form>
    </div>
   </body>
</html>